.root .navHeader {
  background-color: #f5f6f5;
}
.root .formItem {
  border-bottom: 1px solid #eee;
  margin: 50px 5% 0;
}
.root .formItem .input {
  padding: 0 10px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 16px;
}
.root .errors {
  margin: 15px 5%;
  height: 20px;
  line-height: 20px;
  color: #f00;
}
.root .formSubmit {
  margin: 50px 5%;
}
.root .formSubmit .submit {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #21b97a;
  font-size: 16px;
  color: #fff;
}
.root .backHome {
  margin-top: 25px;
  text-align: center;
}
.root .backHome a {
  color: #000;
}
