:global .adm-list-header {
  color: #21b97a;
}
:global .adm-list:last-child {
  --border-bottom: none;
}
:global .adm-form-item-child-inner {
  font-size: 15px;
  color: #999;
  text-align: right;
}
.navHeader {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #f5f6f5;
}
.root {
  padding: 45px 0 50px;
}
.root .supporting {
  padding: 0;
}
.btn {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}
.btn .cancel {
  flex: 1;
  border-top: 1px solid #f5f6f5;
  background-color: #fff;
  color: #21b97a;
}
.btn .confirm {
  flex: 1;
  background-color: #21b97a;
  color: #fff;
}
